* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

body {
  background-color: rgb(255, 109, 89);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #3e8b83;
  background-image: linear-gradient(to right, transparent 50%, #c72230 0);
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.before {
  position: relative;
  display: block;
  margin-left: 50%;
  height: 100%;
  background-color: inherit;
  transform-origin: left;
  /* transform: rotate(.2turn); */
}
